body {
  background-image: url("bg-image.png");
  background-size: cover;
}

h1 {
  font-size: 60px;
}
.center-align {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: 0 20px 100px #000000;
}